.mainContent{
    display:flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin:10px 0px;
    gap: 10px
}

.element {
    position: relative;
    background-color: #d4d6ae;
    color: rgb(31, 31, 31);
    border-radius: 15px;
    padding: 20px;
    flex: 1 1 calc(50% - 10px);
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    min-height: 200px;
    font-size: 25px;
    touch-action: pan-y;
    user-select: none;
}

.element.full-width {
    flex: 1 1 100%;
}

.element iframe {
    border-radius: 15px;
}

.element.swipe-out {
    transform: translateX(100%);
    opacity: 0;
}


.element:hover{
    scale: 1.02;
}